<h1>Animal List</h1>
{{#if user}}
  <a href='/animals/create'>Add a new rescued animal</a>
{{/if}}
<br />

{{#each animals}}

  <div class='card d-inline-flex p-2' style='width: 18rem;'>
    {{! <img src='...' class='card-img-top' alt='...' /> }}
    <div class='card-body'>
      <h5 class='card-title'>{{this.name}}</h5>
      <p class='card-text'>Species: {{this.species}}</p><p
        class='card-text'
      >Age: {{this.age}}</p>
      <p class='card-text'>Color: {{this.color}}</p>
      {{!-- <p class='card-text'>Sterilized: {{this.sterilized}}</p> --}}

      <p class='card-text'>Comments: {{this.comments}}</p>
      <a href='#' class='btn btn-primary'>Adopt</a>
      {{#if ../user}}
        {{! edit button }}
        <a
          href='/animals/edit/{{this._id}}'
          class='btn btn-primary'
          title='Edit'
        >
          <i class='fa-regular fa-pen-to-square'></i></a>
        {{! delete button }}
        <a
          href='/animals/delete/{{this._id}}'
          title='Delete'
          class='btn btn-danger'
          onclick='return confirmDelete();'
        ><i class='fa-regular fa-trash-can'></i></a>
      {{/if}}
    </div>
  </div>{{/each}}